<!DOCTYPE html>
<html>
<head><title>Add Device</title></head>
<body>
    <h1>Add Device</h1>
    <form method="POST">
        <label>Name: <input name="name" required></label><br>
        <label>Active Time: <input name="active_time" type="number" required></label><br>
        <label>Break Time: <input name="break_time" type="number" required></label><br>
        <label>Sets: <input name="sets" type="number" required></label><br>
        <label>Picture Path: <input name="picture_path"></label><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>